[V200R003C00]
#
sysname LSW3
#
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load portalpage.zip
#
 drop illegal-mac alarm
#
 set cpu-usage threshold 80 restore 75
#
vlan batch 7 
#
aaa
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default
 domain default_admin
#
#
interface GE0/0/1
 undo shutdown
 portswitch
 port link-type trunk
 port trunk allow-pass vlan 7 
#
interface GE0/0/11
 undo shutdown
 portswitch
 port link-type access
 port default vlan 7 
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
user-interface vty 16 20
#
return
